/* Signup.css */

.signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .left-side {
    flex: 1;
  }
  
  .right-side {
    flex: 1;
    padding: 0 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .username {
    display: flex;
    justify-content: space-between;
  }
  
  .label {
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .link-togglr_login {
    display: block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
  }
  
  .main-color {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .line {
    height: 2px;
    background-color: #007bff;
    margin-bottom: 20px;
  }
  